<div class="row">
  <div class="col-md-6">
    <a routerLink="/" href="#" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>
      Back to Dashboard
    </a>
  </div>
</div>
<hr>

<div class="row">
    <div class="col-md-6">
      <h2><i class="fa fa-users"></i>Children Clients and Relationships</h2>
    </div>
  </div>

<table *ngFor="let child of childrenDetails" class="table table-striped">
    <thead class="bg-warning">
      <tr>
        <th>Parent Client  :   {{child.entityName}}</th>
      </tr>
      </thead>
      <thead class="thead-inverse">
      <tr>
        <th>Relationship Type</th>
        <th>Entity Id</th>
        <th>Entity Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subChild of child['parentRelationships']">
        <td>{{subChild.relationshipType}}</td>
        <td>{{subChild.childID}}</td>
        <td>{{subChild.childName}}</td>
        <td><a [routerLink]="['/limits/'+subChild.childID]" href="#" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i>Limits</a></td>
      </tr>
    </tbody>
  </table>



  

















<!-- <div *ngIf="childrenDetails" class="card">
  <div *ngFor="let child of childrenDetails">

    <h3 class="card-header">{{child.entityName}}</h3>
  
    <div class="card-body">
      <div class="row"> 
  <div *ngFor="let subChild of child['parentRelationships']">
        <div class="col-md-8">
          <h4>Relationship Type: {{subChild.relationshipType}}</h4>
        </div>
        </div>
        <div class="col-md-4"> 
          <h3 class="pull-right">Balance</h3>
        </div>
      </div>
      <hr>
      <div *ngFor="let subChild of child['parentRelationships']">
      <ul class="list-group">
        <li class="list-group-item">relationshipType: {{subChild.relationshipType}}</li>
        <li class="list-group-item">childID: {{subChild.childID}}</li>
        <li class="list-group-item">childName: {{subChild.childName}}</li>
        <br><br>
      </ul>
      </div>
    </div>
  </div> 
</div> -->

